<h2 class="subheader">Resources for Your Home</h2>
<div class="content-card">
    <h4 class="card-title">DIY Links</h4>
    <ul>
      <li>www.pinterest.com</li>
      <li>www.pinterest.com</li>
      <li>www.pinterest.com</li>
      <li>www.pinterest.com</li>
      <li>www.pinterest.com</li>
      <li>www.pinterest.com</li>
    </ul>
</div>
