<h2 class="subheader">Resources for Your Home</h2>
<div class="content-card">
    <h4 class="card-title">DIY Links</h4>
    <ul>
      <li><a href="https://www.homeadvisor.com/r/c/plumbing/">Home Advisor</a></li>
      <li><a href="https://www.rapidrooter.com/plumbing-resources/common-household-areas/">Rapid Rooter</a></li>
      <li><a href="https://www.safeplumbing.org/communications/reports-resources">Safeplumbig.org</a></li>
      <li><a href="https://www.homedepot.com/b/Plumbing-Plumbing-Parts-Repair/N-5yc1vZbqkp">Home Depot</a></li>
      <li><a href="https://theplumber.com/plumbing-faqs/">ThePlumber.com</a></li>
    </ul>
</div>
