<h2 class="subheader">Services</h2>
<div class="services-content">
<div class="card-container d-inline-block">
  <h4 class="card-title">Plumbing</h4>
  <div class="card"></div>
</div>

<div class="card-container d-inline-block">
  <h4 class="card-title">Electrical</h4>
  <div class="card"></div>
</div>

<div class="card-container d-inline-block">
  <h4 class="card-title">Landscaping</h4>
  <div class="card"></div>
</div>
</div>
</div>
