@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  width: 100%;
}
.chat-container{
  margin: 0 auto;
  height: 600px;
  width: 800px;
  margin-left: 100px;
}

.body-container {
  height: 1000px;
}

.relative {
  position: relative;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.conversation-container {
  padding: 30px;
  overflow: scroll;
  margin-left: 10px;
  height: 600px;
}

.margin-left {
  margin-left: 90px
}

.speech-bubble {
  float: left;
  color: white;
	position: relative;
	background: #0094bd;
	border-radius: .4em;
  width: 500px;
  margin-bottom: 30px;
  padding: 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-right-color: #0094bd;
	border-left: 0;
	border-bottom: 0;
	margin-top: -9px;
	margin-left: -18px;
}

.user-speech-bubble {
  background: green;
  float: right;
}

.user-speech-bubble:after {
	right: 0;
	border-right-color: green;
}

.left-side {
  width: 70%;
  height: 100%;
  display: inline-block;
  background-color: #f6f9fb;
}
.image-pane-container {
  background-image: url('bathroom-hero.jpg');
  background-size: cover;
  width: 30%;
  height: 100%;
  float: right;
  display: inline-block;
  // display: flex;
  // flex-direction: column;
}

.shadow {
  box-shadow: inset 0px 0px 10px 0px rgba(128,135,135,1);
}

.welcome-text {
  font-size: 14px;
}

.watson-question {
  font-size: 14px;
  font-weight: bold;
}

.watson-options {
  font-size: 14px;
  padding-right: 20px;
  font-weight: bold;
}

.bg-color {
  background-color: #f6f9fb;
}
