@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  width: 100%;
}
.chat-container{
  margin: 0 auto;
  height: 600px;
  width: 800px;
  margin-left: 100px;
}

.body-container {
  height: 700px;
}

.relative {
  position: relative;
}

// .welcome-container {
//   height: 600px;
//   width: 800px;
//   background-color: #0094bd;
// }

.modal-image  {
  background-image: url(chatbot-edit.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 250px;
  margin: auto;
  border-radius: 25px;
}

.p-welcome-modal {
  line-height: 45px;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.conversation-container {
  padding: 30px;
  overflow: scroll;
  margin-left: 10px;
  height: 645px;
}

.margin-left {
  margin-left: 90px
}

.modal-content {
  background-color: #B8B8F3;
  width: 600px;
  height: 600px;
  font-family: 'Open Sans', sans-serif;
}

.modal-title {
  font-size: 24px;
}


.speech-bubble {
  float: left;
  color: white;
	position: relative;
	background: #0094bd;
	border-radius: .4em;
  width: 500px;
  margin-bottom: 30px;
  padding: 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-right-color: #0094bd;
	border-left: 0;
	border-bottom: 0;
	margin-top: -9px;
	margin-left: -18px;
}

.user-speech-bubble:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-right-color: #0094bd;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.user-speech-bubble {
  background: #7BBEE5;
  float: right;
}

.user-speech-bubble:after {
	right: 0;
	border-right-color: #7BBEE5;
}

.chatbot {
  background-image: url(chatbot2.jpeg);
  height: 25px;
  width: 25px;
}

.chatfix-logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}

.left-side {
  width: 70%;
  height: 100%;
  display: inline-block;
  background-color: #f6f9fb;
}
.image-pane-container {
  background-color: #6963CC;
  width: 30%;
  height: 100%;
  float: right;
  display: inline-block;
  position: relative;
  // display: flex;
  // flex-direction: column;
}

.main-nav-list {
  position: absolute;
  top: 10%;
  left: 35%;
}

.main-nav-title {
  position: absolute;
  top: 0;
  left: 40%;
  font-size: 30px;
}

.main-nav-item  a{
  color: #fff;
  line-height: 65px;
  letter-spacing: 1.5px;
  font-size: 22px;
}

.input-text-field {
  width: 400px;
}

.shadow {
  box-shadow: inset 0px 0px 10px 0px rgba(128,135,135,1);
}

.welcome-text {
  font-size: 14px;
}

.watson-question {
  font-size: 14px;
  font-weight: bold;
}

.watson-options {
  font-size: 15px;
  padding-right: 20px;
  font-weight: bold;
  color: #A5D8FF;
}

.bg-color {
  background-color: #f6f9fb;
}
