.card-container {
  width: 1300px;
  // width: 100%;
  margin: 0 auto;
}

.content-card {
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.75);
  width: 300px;
  display: inline-block;
  margin: 60px;
  padding-left: 3px;
  padding-right: 3px;
}

.content-card .card-title  {
  text-align: center;
}
